
.paper
  background-color: #FFFFF0 !important
  text-align: center !important
  overflow: auto

.templete-appbar
  background-color: #A52A2A !important
  overflow: auto

.tab-content
  text-align: center
