  .root
    flex-grow: 1
    margin-bottom: 0px
    header
      padding-right: 0px

  .appbar
    background-color: #A52A2A !important
    & .toolbar
        background-color: inherit;

  .grow
    flex-grow: 1

  .titleColor
    color: white

  .list
    border-right: 2px solid black
    margin: 0px
    height: calc(100vh - 40px)
    width: 240px
    background-color: #FFFFF0
    padding-left: 0px
    padding-right: 0px
    position: fixed
    overflow: scroll
